@import '../../style.scss';

.login-form {
  input {
    height: 2em;
    margin: 0 auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding: 0 0.5em 0 0.5em;
    width: 60%;
  }

  span {
    color: $redcolor;
    display: inline-block; 
    font-size: 0.8em;
    margin: 0;
    width: 60%;
  }

  .loginButton {
    background-color: $bluecolor;
    border: none;
    color: white;
    font-family: 'Lato', sans-serif;
    height: calc(2.0em + 4px);
    width: calc(60% + 1em + 4px);
  }  
}
