@import '../Module/style';

.login-form {
  input {
    height: 2em;
    margin: 0 auto;
    margin-bottom: .5em;
    margin-top: .5em;
    padding: 0 .5em;
    width: 60%;

    @media (max-width: 480px) {
      border: 1px solid #ebe9ed;
    }
  }

  span {
    color: $redcolor;
    display: inline-block;
    font-size: .8em;
    margin: 0;
    width: 60%;
  }

  .login-button {
    background-color: $bluecolor;
    border: 0;
    color: $whitecolor;
    font-family: 'Lato', sans-serif;
    height: calc(2em + 8px);
    width: calc(60% + 1em + 4px);
  }
}
