$bluecolor: #4A90E2;

.login-form {

    input {
        width: 60%;
        height: 2.5em;
        margin: 0 auto;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        padding: 0 0.5em 0 0.5em;
    }

    span {
        display: inline-block;
        width: 23em; 
        font-size: 0.9em;
        margin: 0;
    }

    .loginButton {
        width: calc(60% + 1em + 4px);
        height: calc(2.5em + 4px);
        background-color: $bluecolor;
        color: white;
        border: none;
        font-family: 'Lato', sans-serif;
    }  
}