@import '../../style';

.signup-main {
  background-color: $whitecolor;
  box-shadow: 0 2px 4px 0 $shadowcolor;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  margin-bottom: 5em;
  margin-top: 5em;
  text-align: center;
  width: 36em;

  @media (max-width: 480px) {
    min-width: 320px;
    width: 90%;
  }
}

.signup-title {
  font-size: 1.2em;
  margin-top: 1.5em;
}

.signup-form {
  input {
    height: 2em;
    margin: 0 auto;
    margin-bottom: .5em;
    margin-top: .5em;
    width: 64%;

    @media (max-width: 480px) {
      border: 1px solid #ebe9ed;
    }
  }

  input:not([type='submit']) {
    padding: 0 .5em;
  }

  input[type='submit'] {
    background-color: $bluecolor;
    border: 0;
    color: $whitecolor;
    font-family: 'Lato', sans-serif;
    height: calc(2em + 4px);
    margin-bottom: .5em;
    padding: 0;
    width: calc(64% + 1em + 4px);
  }

  span {
    color: $redcolor;
    display: inline-block;
    font-size: .8em;
    margin: 0;
    width: 64%;
  }
}

.or {
  font-size: .7em;
  height: 1.2em;
  margin: 0 auto;
}

.login {
  align-items: center;
  background-color: #fff;
  border: 1px solid $bluecolor;
  color: $bluecolor;
  display: flex;
  font-size: .83em;
  height: calc(2em + 4.1px);
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3em;
  margin-top: .5em;
  text-decoration: none;
  text-transform: capitalize;
  width: calc(64% + 1em + 4.06px);
}
