$bluecolor: #4A90E2;

.loginMain {
    width: 36em;
    margin: 0 auto;
    margin-top: 8em;
    text-align: center; 
    display: flex;
    flex-flow: column;  
    background-color: white;   
}

.login-title {
    margin-top: 2em;
    font-size: 1.2em;
}

.or {
    height: 1.2em;
    margin: 0 auto;
    font-size: 0.7em;
}

.newAccount {
    width: 61.5%;
    line-height: 2.8em;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 3em;
    padding: 0 0.5em 0 0.5em;
    font-size: 0.83em;
    text-transform: capitalize;
    color: white;
    background-color: $bluecolor;
    border: none;
    text-decoration: none;
}

