@import '../../style.scss';

.loginMain {  
  background-color: white;
  box-shadow: 0 2px 4px 0 $shadowcolor; 
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  margin-top: 7em;
  text-align: center;
  width: 36em;  
}

.login-title {
  font-size: 1.2em;
  margin-top: 2em;
}

.or {
  font-size: 0.7em;
  height: 1.2em;
  margin: 0 auto;
}

.newAccount {
  align-items: center;
  background-color: #fff;
  border: 1px solid $bluecolor;
  color: $bluecolor;
  display: flex;
  font-size: 0.8333em;
  height: calc(2.0em + 4px);
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3em;
  margin-top: 0.5em;
  text-decoration: none;
  text-transform: capitalize;
  width: calc(60% + 1em + 4px);
}

