@import '../../style';

.suggested-page {
  background: $whitecolor;
  box-shadow: 0 2px 4px 0 $shadowcolor;
  float: right;
  font-size: .9em;
  margin-right: 1em;
  margin-top: 0;
  padding: .2em 0 1.2em 0;
  position: relative;
  top: 80px;
  width: 18%;
}
