.commentContainer {
    width: 640px;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    .userPic {
        width: 45px;
        height: 45px;
    }

    .commentBox {
        width: 600px;
        margin: 20px 0 10px 0;
        padding-bottom: 8px;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #E3E3E3;
        .commentInfo {
            width: 550px;
            margin-left: 20px;

            .name {
                margin: 0 5px 0 0;
                font-size: 13px;
                color: #4A90E2;
            }
            .text {
                margin: 0;
                font-size: 13px;
            }
            button {
                margin: 5px 0 0 0;
                border: none;
                float: left;
                background-color: white;
                padding: 0;
                font-size: 13px;
                color: #4A4A4A;
            }
            button:hover {
                cursor: pointer;
            }
            .likeButton {
                margin-left: 0;
            }

            .time {
                margin: 5px 0 0 0;
                float: left;
                font-size: 13px;
                color: #9197A3;
            }
            span {
                margin: 2px 4px 0 4px;
                float: left;
            }
        }
    }
    .commentInput {
        display: flex;
        width: 600px;
        margin-bottom: 16px;
        input {
            width: 528px;
            height: 41px;
            padding: 0;
            padding-left: 10px;
            margin-left: 20px;
        }
    }

}