@import url('https://fonts.googleapis.com/css?family=Lato');

$background: #f6f9ff;
$bluecolor: #4a90e2;
$greencolor: #36a420;
$redcolor: #be4b49;
$userblue: #3b5998;
$lightgrey: #9197a3;
$bordergrey: #e3e3e3;
$textgrey: #4a4a4a;
$greycolor: #f6f9ff;
$shadowcolor: #ececec;
$whitecolor: #fff;

body {
  background: $background;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
