@import url('https://fonts.googleapis.com/css?family=Lato');

$background: #E9EBEE;
$bluecolor: #4A90E2;
$greencolor: #36A420;
$redcolor: #be4b49;
$userBlue: #3B5998;
$lightGrey: #9197A3;
$borderGrey: #E3E3E3;
$textGrey: #4A4A4A;

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background-color: $background;
}
