@import '../../components/Module/style';

.photo-container {
  align-items: center;
  box-shadow: 2px 2px 5px 0 $shadowcolor;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  position: relative;
  top: 3em;
  width: 50em;

  .cover-photo {
    height: 17em;
    width: 100%;
  }

  .user-pic {
    border: 1px solid #fff;
    box-shadow: 8px 8px 10px 0 #000;
    height: 7em;
    left: 1em;
    position: absolute;
    top: 12em;
    width: 7em;
  }

  .cover-photo,
  .user-pic:hover {
    cursor: pointer;
  }

  nav {
    background-color: #fff;
    display: flex;
    height: 3em;
    justify-content: center;
    width: 100%;

    button {
      background-color: $whitecolor;
      border: 0;
      color: $userblue;
      font-weight: bold;
      width: 6em;
    }

    button:hover {
      background-color: $background;
      color: $bluecolor;
      cursor: pointer;
      transition: color .5s;
    }

    button:focus {
      outline-style: none;
    }
  }

  .friend-nav {
    background-color: #fff;
    display: block;
    height: 6em;
    margin-top: 1.5em;
    width: 100%;

    h1 {
      font-size: 1.5em;
      margin-left: 1em;
    }

    a {
      color: $userblue;
      font-size: .8em;
      font-weight: 700;
      margin-left: 1.5em;
      outline: 0;
      text-decoration: none;
    }
  }

  .friend-list {
    align-content: stretch;
    background: fff;
    border: 1px solid $greycolor;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
    padding-bottom: 1em;
    width: 100%;

    .friend-info {
      border: 2px solid $greycolor;
      display: flex;
      height: 6em;
      margin: 1em 0 0 1em;
      width: 47%;

      p {
        color: $userblue;
        display: block;
        flex-grow: 1;
        font-size: 1.2em;
        margin-left: .5em;
      }

      span {
        color: $fontcolor;
        display: block;
        font-size: 0.7em;
        margin-top: 5px;
      }

      img {
        height: 6em;
        width: 6em;
      }

      button {
        background-color: #fff;
        border: 0;
        color: #3b5998;
        font-size: .9em;
        font-weight: bold;
      }

      button:hover {
        background-color: $background;
        color: $bluecolor;
        cursor: pointer;
        transition: color 0.5s;
      }

      button:focus {
        outline-style: none;
      }
    }
  }
}
