.feed-page-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  min-width: 800px;

  @media (max-width: 480px) {
    display: block;
    min-width: 320px;
  }
}

.post-to-render-container {
  width: 100%;
}
