@import '../../style';

.feed-page-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;

  @media (max-width: 480px) {
    display: block;
    min-width: 320px;
  }
}
